<html lang="fr">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="app.component.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script src="path/to/jquery.js"></script>
	<script src="src/assets/js/portfolio.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

	<title>
		Atef ZMITI
	</title>
</head>

<body>



	<nav class="navbar navbar-expand-lg navbar-light"
		style=" height: 100px; background-image : linear-gradient(-90deg,rgb(90, 0, 78),rgb(224, 1, 213),rgb(68, 187, 255));"
		id="main-nav">
		<div class="container-fluid">


			<div class="profile">
				<img src="assets/images/photo.jpg"
					style="height: 55px ;width:55px; border: 2px solid rgb(255, 255, 255); " id="photo"
					alt="profile photo" />
				<h1 style="font-size: 25px;margin-left: 1cm; color: aliceblue;  margin-right: 22cm;  text-shadow: #000 2px 2px 0.2rem;
				">Atef ZMITI</h1>
				<i class="fa-solid fa-s"></i>
			</div>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
				aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarColor03">


				<ul class="navbar-nav ms-auto">
					<li class="nav-item" id="idg">
						<a class="button" style="  color:rgb(243, 243, 243) ; font-size: 34px; text-decoration:none;  "
							href="https://github.com/atefzmiti">
							<i class="fa fa-github" style="text-decoration:none;text-shadow: #000 2px 2px 0.2rem;"></i></a>
					</li>
				</ul>
				<div class="d-inline-block ms-auto" ngbDropdown #myDrop="ngbDropdown">
					<button type="button" class="btn btn-outline-primary me-2 fa fa-file-pdf-o" id="dropdownManual"
						ngbDropdownAnchor (focus)="myDrop.open()"
						style="  font-size: 30px ;text-shadow: #000 2px 2px 0.2rem; border:none; background: none; color: white; margin-left: 1cm; ">

					</button>
					<div ngbDropdownMenu aria-labelledby="dropdownManual" >
						<a class="dropdown-item"
							href="https://drive.google.com/file/d/1CDnPSH6-Fr_A100ElURmxRYlkIA4rMM5/view">Frensh</a>
						<a class="dropdown-item"
							href="https://drive.google.com/file/d/1HfrPxlGJo92aHchM8ZmGSHd7-q9VljPT/view">English</a>
					</div>
				</div>

			</div>
		</div>

	</nav>



	<mat-sidenav-container>
		<br>
		<mat-sidenav [(opened)]="opened" mode="side"
			style=" border-bottom: 2px solid rgba(0, 0, 0, 0.137); background-image :linear-gradient(-180deg,rgb(68, 187, 255),rgb(224, 1, 213),rgb(90, 0, 78));">
			<mat-list>
				<br>
				<button routerLink="/"
					style="     text-shadow: #000 2px 2px 0.2rem;
				border-bottom: solid rgba(0, 0, 0, 0.137) ;font-size: 23px; padding-left: 35px; border: none; color: white;  background-color: none; "
					type="button" class="btn  btn-rounded">
					Profile
				</button>
				<br>
				<button routerLink="/education"
					style="    text-shadow: #000 2px 2px 0.2rem;
						border-bottom: 2px solid rgba(0, 0, 0, 0.137);font-size: 23px; padding-left: 35px;border: none; color: white;  background-color: none; "
					type="button" class="btn  btn-rounded">
					Education
				</button>



				<div class="row">
					<div class="col">
						<div ngbDropdown class="d-inline-block dropdown">
							<button type="button" class="btn" aria-expanded="false"
								style="     text-shadow: #000 2px 2px 0.2rem;
							border-bottom: 2px solid rgba(0, 0, 0, 0.137); font-size: 23px; padding-left: 35px; border: none; color: white;  " id="dropdownBasic1" ngbDropdownToggle>
								Skills
							</button>
							<div class="dropdown-content" mdbDropdownMenu ngbDropdownMenu
								aria-labelledby="dropdownBasic1" style=" background-color:rgb(175, 0, 161);">
								<button style="   border-bottom: 2px solid rgba(0, 0, 0, 0.137);" ngbDropdownItem
									routerLink="/web">Web</button>
								<button style="  border-bottom: 2px solid rgba(0, 0, 0, 0.137);" ngbDropdownItem
									routerLink="/databases">Database</button>
								<button style=" border-bottom: 2px solid rgba(0, 0, 0, 0.137);" ngbDropdownItem
									routerLink="/programming">Programming</button>
								<button style="border-bottom: 2px solid rgba(0, 0, 0, 0.137);" ngbDropdownItem
									routerLink="/modeling">Modeling</button>
								<button style="border-bottom: 2px solid rgba(0, 0, 0, 0.137);" ngbDropdownItem
									routerLink="/tools">Tools</button>
								<button style="border-bottom: 2px solid rgba(0, 0, 0, 0.137);" ngbDropdownItem
									routerLink="/mobile">Mobile</button>
								<button style="border-bottom: 2px solid rgba(0, 0, 0, 0.137);" ngbDropdownItem
									routerLink="/operating">Operating Systems</button>
								<button ngbDropdownItem routerLink="/others">Others</button>

							</div>
						</div>
					</div>
				</div>
				<button routerLink="/projects"
					style="    text-shadow: #000 2px 2px 0.2rem;
				border-bottom: 5px solid rgba(0, 0, 0, 0.137) ;font-size: 23px; padding-left: 35px; border: none; color: white;  background-color: none; "
					type="button" class="btn btn-outline btn-rounded">
					My projects
				</button>
				<button routerLink="/languages"
					style="    text-shadow: #000 2px 2px 0.2rem;
						border-bottom: 2px solid rgba(0, 0, 0, 0.137); border-bottom: 5px solid rgba(0, 0, 0, 0.137) ;font-size: 23px; padding-left: 35px; border: none; color: white;  background-color: none; "
					type="button" class="btn btn-outline btn-rounded">
					Languages
				</button>


				<br>
				<br>

				<div class="colonne" id="myid" style="  border-bottom: 2px solid rgba(59, 59, 59, 0);">
					<div class="numero">
						<i style="    text-shadow: #000 2px 2px 0.2rem;
		font-size: 25px; color: aliceblue; padding-left: 30px;" id="phone" class="fa fa-phone"> + 216
							55 61 38 11</i>


					</div>

					<ul style="border-bottom: 2px solid rgba(0, 0, 0, 0.137);">


						<li class="nav-item" style="display:inline-block;">
							<a class="nav-link" style="color:rgb(245, 238, 238) ;font-size: 7px;  padding-left: 2cm "
								href="https://www.linkedin.com/in/atef-zmiti-72a76a169/"> <i style="font-size: 15px; "
									class="fa fa-linkedin"></i>
							</a>
						</li>
						<li class="nav-item" style="display:inline-block;">
							<a class="nav-link" style="color:rgb(241, 227, 227) ;font-size: 12px;  "
								href="https://www.facebook.com/atef.zommity/"><i style="font-size: 15px; "
									class="fa fa-facebook"></i>
							</a>
						</li>


					</ul>

					<div class="numero"><span class="material-icons"
							style="color:white ;  padding-left: 3.5cm; font-size: 35px; ">email</span> <br>
						<p style=" border-bottom: 5px solid rgba(0, 0, 0, 0.137) ;font-size: 20px; padding-left: 45px; border: none; color: white;  background-color: none;    text-shadow: #000 2px 2px 0.2rem;
				"> zmitiatef@gmail.com
						</p>

					</div>

				</div>


			</mat-list>



		</mat-sidenav>
		<mat-sidenav-content>
			<router-outlet></router-outlet>
		</mat-sidenav-content>
	</mat-sidenav-container>
</body>