<br>
<br>
<h2 style="text-align:center;font-weight:bold ;font-size: 40px;    text-shadow: #000 2px 2px 0.2rem;
">Languages</h2>

<br> <br>
<div class="images" id="web" style="margin-left: 8cm;">

    <div class="raspberry" id="myweb" >
        <img class="img1" style="margin:40px" src="assets/images/en.jpg" style="margin-left: 2px;" height="150">
        <p>English</p>

        <svg  id="svg26"  xmlns="http://www.w3.org/2000/svg" version="1.1" width ="240px" height="240px">
            <defs>
                <linearGradient id="GradientColor" >
        
                    <stop offset="0%" stopColor="#DA22FF" />
                    <stop offset="100%" stopColor="#9733EE" />
        
                </linearGradient>
            </defs>
        
        <circle id="c26" cx="100" cy="100" r="76" stroke-linecap="round"  />
        </svg>
    </div>
    <div class="raspberry" id="myweb" >
        <img class="img1" style="margin:40px" src="assets/images/fr.jpg" style="margin-left: 2px;" height="150">
        <p>Frensh</p>

        <svg  id="svg27"  xmlns="http://www.w3.org/2000/svg" version="1.1" width ="240px" height="240px">
            <defs>
                <linearGradient id="GradientColor" >
        
                    <stop offset="0%" stopColor="#DA22FF" />
                    <stop offset="100%" stopColor="#9733EE" />
        
                </linearGradient>
            </defs>
        
        <circle id="c27" cx="100" cy="100" r="76" stroke-linecap="round"  />
        </svg>
    </div>
    <div class="raspberry" id="myweb" >
        <img class="img1" style="margin:40px" src="assets/images/tun.jpg" style="margin-left: 2px;" height="150">
        <p>Arabic</p>

        <svg  id="svg28"  xmlns="http://www.w3.org/2000/svg" version="1.1" width ="240px" height="240px">
            <defs>
                <linearGradient id="GradientColor" >
        
                    <stop offset="0%" stopColor="#DA22FF" />
                    <stop offset="100%" stopColor="#9733EE" />
        
                </linearGradient>
            </defs>
        
        <circle id="c28" cx="100" cy="100" r="76" stroke-linecap="round"  />
        </svg>
    </div>
    </div>