

<br>
<h2 style="text-align:center;  font-weight:bold ; font-size: 40px;    text-shadow: #000 2px 2px 0.2rem;
">Web</h2>
 
<div class="images" id="web" style="margin-left: 5cm; margin-right: 2cm;">


    <div class="raspberry" id="myweb">
        <img class="img1" src="assets/images/htmll.png" style="margin-left: 2px;" height="150">
<p>Html</p>

<svg  id="svg1"  xmlns="http://www.w3.org/2000/svg" version="1.1" width ="240px" height="240px">
<defs>
    <linearGradient id="GradientColor" >

        <stop offset="0%" stopColor="#DA22FF" />
        <stop offset="100%" stopColor="#9733EE" />

    </linearGradient>
</defs>

<circle id="c1" cx="100" cy="100" r="76" stroke-linecap="round"  />
</svg>
    </div>



    <div class="raspberry">

        <img class="img1"  src="assets/images/css.png" style="margin-left: 2px;" height="150" alt="">

        <p>CSS</p>
    </div>
    <svg  id="svg2" xmlns="http://www.w3.org/2000/svg" version="1.1" width ="240px" height="240px">
        <defs>
            <linearGradient id="GradientColor" >
    
                <stop offset="0%" stopColor="#DA22FF" />
                <stop offset="100%" stopColor="#9733EE" />
    
            </linearGradient>
        </defs>
    
    <circle id="c2" cx="100" cy="100" r="76" stroke-linecap="round"  />
    </svg>

    <div class="raspberry">
        <img class="img1" src="assets/images/bootstrap.png" style="margin-left: 2px;" height="150" alt="">

        <p>Bootstrap</p>
    </div>


    <svg  id="svg3"  xmlns="http://www.w3.org/2000/svg" version="1.1" width ="240px" height="240px">
        <defs>
            <linearGradient id="GradientColor" >
    
                <stop offset="0%" stopColor="#DA22FF" />
                <stop offset="100%" stopColor="#9733EE" />
    
            </linearGradient>
        </defs>
    
    <circle id="c3" cx="100" cy="100" r="76" stroke-linecap="round"  />
    </svg>
    <div class="raspberry">
        <img class="img1" src="assets/images/javascriptlogo.png" style="margin-left: 2px;" height="150" alt="">

        <p>Javascript</p>
    </div>

    <svg  id="svg4"  xmlns="http://www.w3.org/2000/svg" version="1.1" width ="240px" height="240px">
        <defs>
            <linearGradient id="GradientColor" >
    
                <stop offset="0%" stopColor="#DA22FF" />
                <stop offset="100%" stopColor="#9733EE" />
    
            </linearGradient>
        </defs>
    
    <circle id="c4" cx="100" cy="100" r="76" stroke-linecap="round"  />
    </svg>

    <div class="raspberry">
        <img class="img1" src="assets/images/jquerylogo.png" style="margin-left: 2px;" height="150" alt="">

        <p>jQuery</p>
    </div>

    <svg  id="svg5"  xmlns="http://www.w3.org/2000/svg" version="1.1" width ="240px" height="240px">
        <defs>
            <linearGradient id="GradientColor" >
    
                <stop offset="0%" stopColor="#DA22FF" />
                <stop offset="100%" stopColor="#9733EE" />
    
            </linearGradient>
        </defs>
    
    <circle id="c5" cx="100" cy="100" r="76" stroke-linecap="round"  />
    </svg>
    <div class="raspberry">
        <img class="img1" src="assets/images/angularlogo.png" style="margin-left: 2px;" height="150" alt="">

        <p>Angular</p>
    </div>
    <svg  id="svg6"  xmlns="http://www.w3.org/2000/svg" version="1.1" width ="240px" height="240px">
        <defs>
            <linearGradient id="GradientColor" >
    
                <stop offset="0%" stopColor="#DA22FF" />
                <stop offset="100%" stopColor="#9733EE" />
    
            </linearGradient>
        </defs>
    
    <circle id="c6" cx="100" cy="100" r="76" stroke-linecap="round"  />
    </svg>


    <div class="raspberry">
        <img class="img1" src="assets/images/springlogo.png" style="margin-left: 2px;" height="150" alt="">

        <p>Spring</p>
    </div>

    <svg  id="svg7"  xmlns="http://www.w3.org/2000/svg" version="1.1" width ="240px" height="240px">
        <defs>
            <linearGradient id="GradientColor" >
    
                <stop offset="0%" stopColor="#DA22FF" />
                <stop offset="100%" stopColor="#9733EE" />
    
            </linearGradient>
        </defs>
    
    <circle id="c7" cx="100" cy="100" r="76" stroke-linecap="round"  />
    </svg>
    <div class="raspberry">
        <img class="img1" src="assets/images/symfonylogo.jpg" style="margin-left: 2px;" height="150" alt="">

        <p>Symfony</p>
    </div>

    <svg  id="svg8"  xmlns="http://www.w3.org/2000/svg" version="1.1" width ="240px" height="240px">
        <defs>
            <linearGradient id="GradientColor" >
    
                <stop offset="0%" stopColor="#DA22FF" />
                <stop offset="100%" stopColor="#9733EE" />
    
            </linearGradient>
        </defs>
    
    <circle id="c8" cx="100" cy="100" r="76" stroke-linecap="round"  />
    </svg>
    <div class="raspberry">
        <img class="img1" src="assets/images/flask.png" style="margin-left: 2px;" height="150" alt="">

        <p>Flask</p>
    </div>

    <svg  id="svg9"  xmlns="http://www.w3.org/2000/svg" version="1.1" width ="240px" height="240px">
        <defs>
            <linearGradient id="GradientColor" >
    
                <stop offset="0%" stopColor="#DA22FF" />
                <stop offset="100%" stopColor="#9733EE" />
    
            </linearGradient>
        </defs>
    
    <circle id="c9" cx="100" cy="100" r="76" stroke-linecap="round"  />
    </svg>

</div>	