<br>
<br>
<h2 style="text-align:center;font-weight:bold ;font-size: 40px;    text-shadow: #000 2px 2px 0.2rem;
">Other Technologies</h2>

<br> <br>
<div class="others" id="others" style="margin-left: 5cm;">
    <br><br>
    
    
    
    
            <div class="raspberry">
                <img class="img1" src="assets/images/Scrum.png"  height="150" alt="jquery">
    
                <p>Scrum</p>
            </div>
            
            <svg  id="svg23"  xmlns="http://www.w3.org/2000/svg" version="1.1" width ="240px" height="240px">
                <defs>
                    <linearGradient id="GradientColor" >
            
                        <stop offset="0%" stopColor="#DA22FF" />
                        <stop offset="100%" stopColor="#9733EE" />
            
                    </linearGradient>
                </defs>
            
            <circle id="c23" cx="100" cy="100" r="76" stroke-linecap="round"  />
            </svg>
    
            <div class="raspberry">
                <img class="img1" src="assets/images/devops.jpg"  height="150" alt="jquery">
    
                <p>Devops</p>
            </div>
            
            <svg  id="svg24"  xmlns="http://www.w3.org/2000/svg" version="1.1" width ="240px" height="240px">
                <defs>
                    <linearGradient id="GradientColor" >
            
                        <stop offset="0%" stopColor="#DA22FF" />
                        <stop offset="100%" stopColor="#9733EE" />
            
                    </linearGradient>
                </defs>
            
            <circle id="c24" cx="100" cy="100" r="76" stroke-linecap="round"  />
            </svg>
    
    
            <div class="raspberry">
                <img class="img1" src="assets/images/network.jpg"  height="150" alt="jquery">
    
                <p>Network</p>
            </div>
    
    
            <svg  id="svg25"  xmlns="http://www.w3.org/2000/svg" version="1.1" width ="240px" height="240px">
                <defs>
                    <linearGradient id="GradientColor" >
            
                        <stop offset="0%" stopColor="#DA22FF" />
                        <stop offset="100%" stopColor="#9733EE" />
            
                    </linearGradient>
                </defs>
            
            <circle id="c25" cx="100" cy="100" r="76" stroke-linecap="round"  />
            </svg>
    
    
    
        </div>