<br>
<br>
<h2 style="text-align:center; font-weight: bold;  font-size: 40px;    text-shadow: #000 2px 2px 0.2rem;
">Projects</h2>

<br> <br><br>

<table mat-table  >
    <tr matColumnDef="Id">
        <th > <p style="color:red; font-size:20px ;"> Bank Application</p> 
            <p>Technolgies used :</p>
            <ul> 
                <li>Spring boot</li>
                <li>Thymeleaf</li>
                <li>Maven</li>
                <li>Rest</li>
                <li>MySql</li>

                <li>Html</li>
                <li>CSS</li>  
                <li>Bootstrap</li>   
                <li>Git</li>
                <li> <a href="https://github.com/atefzmiti/springboot-bank-project-with-thymeleaf">Source code</a></li>

            </ul>     
           </th>
            <th > <p style="color:red; font-size:20px ;"> Scoring System Application</p> 
                <p>Technolgies used :</p>
                <ul> 
                    <li>Spring boot</li>
                    <li>Maven</li>
                    <li>TypeScript</li>
                    <li>Angular</li>
                    <li>Rest</li>
                    <li>MySql</li>

                    <li>Bootstrap</li>   
                    <li>Git</li>
                    <li> <a href="https://github.com/atefzmiti/scoring-system">Source code (Front)</a></li>
                    <li> <a href="https://github.com/atefzmiti/back-scoring-system">Source code (Back)</a></li>

    
                </ul>     
               </th>
    </tr>
    <tr matColumnDef="Id">
        <th > <p style="color:red; font-size:20px ;"> Comparator Prices System</p> 
            <p>Technolgies used :</p>
            <ul> 
                <li>Python</li>
                <li>Flask</li>
                <li>MySql</li>
                <li>Rest</li>
                <li>Html</li>
                <li>CSS</li>  
                <li>Bootstrap</li>   
                <li>Git</li>
                <li> <a href="">Source code </a></li>

            </ul>     
           </th>
            <th > <p style="color:red; font-size:20px ;"> Recruitment Application</p> 
                <p>Technolgies used :</p>
                <ul> 
                    <li>Java</li>
                    <li>Spring boot</li>
                    <li>TypeScript</li>
                    <li>Angular</li>
                    <li>MySql</li>
                    <li>Rest</li>
                    <li>Bootstrap</li>   
                    <li>Git</li>
                    <li> <a href="https://github.com/atefzmiti/recruitmentsystem-BACK">Source code (Back)</a></li>
                    <li> <a href="https://github.com/atefzmiti/recruitment-system-front">Source code (Front)</a></li>

                </ul>     
               </th>
    </tr>
    <tr matColumnDef="Id">
        <th > <p style="color:red; font-size:20px ;"> Products Management System</p> 
            <p>Technolgies used :</p>
            <ul> 
                <li>PHP</li>
                <li>Symfony</li>
                <li>Html</li>
                <li>CSS</li>
                <li>MySql</li>
                <li>Bootstrap</li>   
                <li>Git</li>
                <li> <a href="https://github.com/atefzmiti/addproducts">Source code</a></li>

            </ul>     
           </th>
            <th > <p style="color:red; font-size:20px ;"> Football Team Platform</p> 
                <p>Technolgies used :</p>
                <ul> 
                    <li>PHP</li>
                    <li>Symfony</li>
                    <li>Html</li>
                    <li>CSS</li>
                    <li>MySql</li>
                    <li>Bootstrap</li>   
                    <li>Git</li>
                    <li> <a href="https://github.com/atefzmiti/footballteamplatform">Source code</a></li>
    
                </ul>     
               </th>
    </tr>
    <tr>
        <th > <p style="color:red; font-size:20px ;"> Weather Application</p> 
            <p>Technolgies used :</p>
            <ul> 
                <li>Java</li>
                <li>openweathermap API</li>
                <li>GPS_PROVIDER</li>
                
                <li> <a href="https://github.com/atefzmiti/WeatherApplication">Source code</a></li>

            </ul>     
           </th>
           <th > <p style="color:red; font-size:20px ;"> Face Recognition</p> 
            <p>Technolgies used :</p>
            <ul> 
                <li>Python</li>
                <li>Tkinter</li>
                <li>Numpy</li>  
                <li>Git</li>
                <li></li>
                <li> <a href="https://github.com/atefzmiti/face_recognition">Source code</a></li>

            </ul>     
           </th>
    </tr>
  </table>

  <br><br><br><br>