
<br> <br>

<br><br>
		
<p id="engineering" style="text-align:center ;  text-transform: uppercase;
	  font-family: Arial;
      display: flex;
    height: 120px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-shadow: #000 2px 2px 0.2rem;
    color: rgb(1, 1, 126);
margin-left: 30px;
font-size: 60px;"> I'm a Computer Science and
    Engineering Student</p> 
        

    
    <br> <br> 
    <br>
    <div id="animation" >
        <h2 style="font-size:50px ;    text-shadow: #000 2px 2px 0.2rem;
        text-align:center ;font-family: Georgia, serif;" >
            I'm looking for an <span style="color: red; ">engineering internship opportunity </span> <i style="text-align:center ; "
                class="fa fa-graduation-cap"></i>

        </h2>

    </div>

    

    <div class="clock" style="margin-left:3cm;" >

    </div>

    <div class="pa"  >
        <svg id="culture-icon-svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="150px"
            height="150px" viewBox="0 0 200 203" enable-background="new 0 0 200 203" xml:space="preserve">
            >
            <path class="dial"
                d="M80.439,154.999c-41.6,0.167-75.134-32.971-75.438-74.544
        C4.7,39.026,38.144,5.18,79.559,5c41.562-0.174,75.108,32.98,75.438,74.569C155.327,121.023,121.907,154.834,80.439,154.999z" />
            <path class="housing"
                d="M79.97,21.828c32.725-0.023,58.527,25.807,58.396,58.475
        c-0.125,32.415-26.765,58.735-58.938,58.233c-32.081-0.498-57.64-26.232-57.777-58.171C21.511,47.654,47.212,21.856,79.97,21.828z" />
            <g class="group-needle">
                <g class="group-needle-animation">
                    <path class="needle-base-outer"
                        d="M95.333,76.452c0,6.068-13.093,18.667-19.161,18.667
                c-6.078,0-10.505-4.516-10.505-10.584c0-6.078,13.923-18.893,20.001-18.893C91.736,65.643,95.333,70.374,95.333,76.452z" />
                    <polygon class="needle-south" points="93.773,70.191 70.258,93.331 115.173,115.425 " />
                    <polygon class="needle-north" points="90.332,66.75 67.192,90.266 45.099,45.351 " />
                    <path class="needle-base-inner"
                        d="M91.168,80.123c0,6.068-4.928,10.996-10.996,10.996
                c-6.078,0-11.004-4.928-11.004-10.996c0-6.078,4.926-11.004,11.004-11.004C86.24,69.119,91.168,74.045,91.168,80.123z" />
                    <path class="needle-screw"
                        d="M85.668,80.121c0,3.034-2.464,5.498-5.498,5.498
                c-3.039,0-5.502-2.464-5.502-5.498c0-3.039,2.463-5.502,5.502-5.502C83.204,74.619,85.668,77.082,85.668,80.121z" />
                </g>
            </g>
            <circle class="declination-mark" cx="80.27" cy="30.639" r="3.27" />
            <circle class="declination-mark" cx="32.27" cy="80.639" r="3.27" />
            <circle class="declination-mark" cx="131.27" cy="80.639" r="3.27" />
            <circle class="declination-mark" cx="80.27" cy="129.639" r="3.27" />
        </svg>
    </div>
    <div class="po" align="left" style="margin-left: 3cm">
        <b>Ponctual</b>
        <b id="dy" style="margin-left: 3.8cm"> Dynamic</b>
    </div>


    <br>
    <br><br><br>







<script>

angular.module('MyApp', [])

.controller('MyCtrl', [function() {
    angular.element(document).ready(function () {
        document.getElementById('#animation').animate({"left":"600px"}, 1500);
    });
}]);
    $("document").ready(function(){
      $("#animation").animate({"left":"150px"}, 1500);
    
    });
</script>