
<br>
<br>
<h2 style="text-align:center;font-weight:bold ;font-size: 40px;     text-shadow: #000 2px 2px 0.2rem;
">Education</h2>

<br> <br>

<fieldset class="field_set" style="   border-radius: 30px; border-width:4px; margin-left: 4cm;width: 700px; ">
       <br>
    <b id="animatefield" style=" margin-left:1cm; font-size: 20px;"> 2020 : SESAME UNIVERSITY
    </b>
    <p id="animatefield2" style="margin-left: 2cm; color:blue;">Computer science and Engineering student </p>

    <b id="animatefield3" style="margin-left:1cm  ; font-size: 20px; "> 2016 : ISET ZAGHOUAN
    </b>
    <p id="animatefield4" style="margin-left: 2cm; color:blue;">a senior technician diploma in
        chemistry</p>

    <b id="animatefield5" style="margin-left:1cm  ; font-size: 20px;"> 2013 : ELMOUROUJ 4 HIGH SCHOOL
    </b>
    <p id="animatefield6" style="margin-left: 2cm; color:blue;">Baccalaureate mathematics</p>
<br>
   

    
   
  </fieldset>
